node_modules
.next
.git
.gitignore
npm-debug.log
README.md
.env
.env.local
.env.production
.env.development
.eslintignore
.eslintrc.json
.github
.vscode
coverage
src/**/*.test.ts
src/**/*.test.tsx
src/**/*.spec.ts
src/**/*.spec.tsx
vitest.config.ts
vitest.setup.ts
jsdom
.DS_Store
