
# Your GCP env
GOOGLE_PROJECT_ID=your-project-change-me
GOOGLE_REGION='europe-west1'

# Get an API key from https://apiflash.com/dashboard/access_keys
APIFLASH_ACCESS_KEY='a1ce52f617c747b19d74aac2c5b529d3'
