# This is an example .env file.
# Copy this file to .env and fill in the values.
# This file should be in .gitignore

# Used for Vertex AI authentication
GOOGLE_CLOUD_PROJECT=""

# Used for Gemini API key authentication (fallback)
GEMINI_API_KEY=""
