.echodo_history
.env
.ondir.was.here.touch
.git-privatize
__pycache__/
*.pyc
.venv/
output-*.md
.echodo_history
**/.gemini/logs.json
german-card-game/
.cache
.DS_Store
.gemini/settings copy.json
.gemini/settings-clean.json
